<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Заявки на обратный звонок</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<h2>Заявки на обратный звонок</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Время заявки</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="callback : ${callbackRequests}">
        <td th:text="${callback.id}">1</td>
        <td th:text="${callback.name}">Имя</td>
        <td th:text="${callback.phone}">+7...</td>
        <td th:text="${callback.status}">NEW</td>
        <td>
            <form th:action="@{'/operator/callback/' + ${callback.id} + '/mark-done'}" method="post">
                <button type="submit" th:if="${callback.status != 'DONE'}">Обработано</button>
                <span th:if="${callback.status == 'DONE'}">✔</span>
            </form>
        </td>

        <td th:text="${callback.requestedAt}">01.01.2025</td>
    </tr>
    </tbody>
</table>


<div th:if="${callbackRequests.totalPages > 1}">
    <span th:text="'Страница ' + (${callbackRequests.number} + 1) + ' из ' + ${callbackRequests.totalPages}"></span>

    <ul style="list-style: none; display: flex; gap: 5px; padding: 0;">
        <li th:if="${callbackRequests.hasPrevious()}">
            <a th:href="@{/operator/callback(page=${callbackRequests.number - 1}, size=${callbackRequests.size})}">Предыдущая</a>
        </li>

        <li th:each="i : ${#numbers.sequence(0, callbackRequests.totalPages - 1)}">
            <a th:href="@{/operator/callback(page=${i}, size=${callbackRequests.size})}"
               th:text="${i + 1}"
               th:classappend="${i == callbackRequests.number} ? 'current-page' : ''"
               style="padding: 2px 5px; text-decoration: none;"></a>
        </li>

        <li th:if="${callbackRequests.hasNext()}">
            <a th:href="@{/operator/callback(page=${callbackRequests.number + 1}, size=${callbackRequests.size})}">Следующая</a>
        </li>
    </ul>
</div>
</body>
</html>
