<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/errors.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <title>Страница не найдена</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<main>
<section style="text-align: center; padding: 50px;">
    <h1>404 - Страница не найдена</h1>
    <p>К сожалению, такой страницы не существует.</p>
    <a th:href="@{/}">Вернуться на главную</a>
</section>
</main>

<script th:src="@{/js/callback-form.js}"></script>
</body>
</html>
