<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Избранные квартиры</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/cards.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <section>
        <h1>Избранное</h1>

        <div id="favorites-container">
            <p>Загрузка...</p>
        </div>
    </section>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/js/load-favorites.js}"></script>

</body>
</html>
