<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <title>Главная</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <section>
        <h1>Добро пожаловать на сайт квартир</h1>
        <p>Здесь вы можете выбрать и купить квартиру.</p>
    </section>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>


<script th:src="@{/js/callback-form.js}"></script>

</body>
</html>
