<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <title>Вход в систему</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>
<div class="auth">
    <section>
        <h2>Вход в систему</h2>
        <form th:action="@{/usercheck}" method="post">
            <label>
                Имя пользователя:
                <input type="text" name="username"/><br>
            </label>
            <label>
                Пароль:
                <input type="password" name="password"/><br/>
            </label>

            <button type="submit">Войти</button>

            <div th:if="${param.error}">
                <p style="color:red">Неправильное имя пользователя или пароль</p>
            </div>
            <div th:if="${param.logout}">
                <p style="color:green">Выполнен выход из аккаунта</p>
            </div>
        </form>

    </section>
</div>


<script th:src="@{/js/callback-form.js}"></script>
</body>
</html>
