<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Оформление покупки</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/purchase.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <section class="purchase-container">
        <h1>Оформление покупки</h1>

        <div>
            <p><strong>Название:</strong> <span th:text="${apartment.title}"></span></p>
            <p><strong>Адрес:</strong> <span th:text="${apartment.address}"></span></p>
            <p><strong>Цена:</strong> <span th:text="${apartment.price}"></span> ₽</p>
            <p><strong>Комнат:</strong> <span th:text="${apartment.rooms}"></span></p>
            <p><strong>Площадь:</strong> <span th:text="${apartment.area}"></span> кв.м</p>
        </div>

        <form th:action="@{'/purchase/' + ${apartment.id}}" th:object="${purchaseRequestDto}" method="post">

            <label for="email">Email:</label><br/>
            <input type="text" id="email" th:field="*{email}"/>
            <div th:if="${#fields.hasErrors('email')}" style="color: red;" th:errors="*{email}">Ошибка</div>


            <button type="submit">Подтвердить покупку</button>
        </form>

    </section>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/js/callback-form.js}"></script>
</body>
</html>
