<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <title>Покупки</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<main>
    <section>
        <h1>История покупок</h1>

        <div th:if="${#lists.isEmpty(purchasesPage)}">
            <p>У вас пока нет покупок.</p>
        </div>

        <div th:if="${!#lists.isEmpty(purchasesPage)}">
            <table border="1" cellpadding="10">
                <thead>
                <tr>
                    <th>Квартира</th>
                    <th>Цена</th>
                    <th>Дата покупки</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="purchase : ${purchasesPage}"
                    th:onclick="'window.location.href=\'/purchase/my/' + ${purchase.id} + '\';'"
                    style="cursor: pointer;">
                    <td th:text="${purchase.apartment.title}"
                        style="text-decoration: underline; color: blue;">
                    </td>
                    <td th:text="${purchase.apartment.price}">0</td>
                    <td th:text="${#temporals.format(purchase.purchaseDate, 'dd.MM.yyyy HH:mm')}">Дата</td>
                </tr>
                </tbody>

            </table>

            <div>
                <span th:text="'Страница ' + ${purchasesPage.number + 1} + ' из ' + ${purchasesPage.totalPages}"></span>
            </div>
            <div>
                <ul style="list-style: none; display: flex; gap: 5px;">
                    <li th:if="${purchasesPage.hasPrevious()}">
                        <a th:href="@{/purchase/my(page=${purchasesPage.number - 1}, size=${purchasesPage.size})}">Предыдущая</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, purchasesPage.totalPages - 1)}">
                        <a th:href="@{/purchase/my(page=${i}, size=${purchasesPage.size})}"
                           th:text="${i + 1}"
                           th:classappend="${i == purchasesPage.number} ? 'current-page' : ''"
                           style="padding: 2px 5px; text-decoration: none;"></a>
                    </li>
                    <li th:if="${purchasesPage.hasNext()}">
                        <a th:href="@{/purchase/my(page=${purchasesPage.number + 1}, size=${purchasesPage.size})}">Следующая</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/js/callback-form.js}"></script>
</body>
</html>
