<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Регистрация</title>
</head>
<body>

<!-- вставляем header -->
<div th:replace="~{fragments/header :: header}"></div>
<section>
    <h1>Регистрация</h1>
    <form th:action="@{/register}" method="post">
        <label>
            Имя пользователя:
            <input type="text" name="username"/><br>
        </label>
        <label>
            Пароль:
            <input type="password" name="password"/><br>
        </label>
        <button type="submit">Зарегистрироваться</button>
    </form>
</section>

<!-- вставляем footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/js/callback-form.js}"></script>
</body>
</html>
